language: ruby
sudo: required
cache: bundler
os:
- linux
- osx
rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4.0
  - ruby-head
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: ruby-head
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install jq; fi
  - travis/travis_fastfail.sh || exit 1
  - rvm get stable
  - rvm --version
  - gem update --system
  - gem install bundler
  - gem --version
  - source travis/install.sh
